
body{
    height: 100vh;
    margin:0px;
  /* look into these three  background-color: lightgrey;*/
    background: linear-gradient(to bottom,rgba(233, 30, 99, 0.99),
    rgba(63, 81, 181, 0.99));
    background-blend-mode: multiply;
    backdrop-filter: blur(3px);

}


.card{
    margin: auto;
    margin-top: 60px;
    background-color: white;
    width:400px;
    border:1px solid black;
    padding-bottom: 50px;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

}

#layer{
    text-align: center;
    margin-top: 30px;
}


.myform{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:15px;
    height: auto;          /* makes it shrink to fit its contents */
    padding-bottom: 20px;

    
}

#firstname,#lastname{
    height:40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;


}

#email,#c_pass,#password,#checkboxes{
    height:40px;
    margin-left: 30px;
    margin-right:30px;
    border-radius: 10px;
}

button{
    background-color:#64b5f6;
    margin-top: 20px;
    cursor: pointer;
    height:40px;
    margin-left:30px;
    margin-right: 30px;
    border-radius: 10px;

}


input::placeholder{
    padding-left: 10px;

}

input[type="checkbox"] {
    margin: 0px; 
    padding: 0px;
    background-color: red;
}

.Check{
 display:flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 
}






p{
   margin-bottom: 15px;
   text-align: center; 
}